html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 1.4em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 5px;
  padding-top: 56px;
  min-height: 100vh;
  /* position: relative; */
}

a {
  font-family: sans-serif;
  color: #fff;
  background-color: #ccc;
  text-indent: 1rem;
  display: inline-flex;
  flex: 1 1 20%;
  align-self: stretch;
  align-items: center;
  transition: box-shadow 1s;
  -webkit-text-decoration: no;
          text-decoration: no;
}

a + a {
  border-left: 1px solid #aaa;
}

a:hover {
  box-shadow: inset 0 -3px 0 #cc3232;
}

blockquote {
  font-style: inherit;
  border-left: 8px solid #ddd;
  padding: 0 0 0 calc(1em + 0.5vw);
  color: #555;
  margin: calc(0.5em + 0.25vw) 2vw calc(0.5em + 0.25vw) 0;
}

nav {
  background-color: indigo;
  font-size: 1rem;
  min-height: 2.75rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

nav > a {
  color: #ebebeb;
  background-color: green;
  text-decoration: none;
  display: flex;
  margin-right: 0.5rem;
  justify-content: space-between;
  margin-left: 1rem;
  text-indent: 0.2rem;
  text-align: center;
  flex: 0 0 10%;
}

nav :first-child {
  margin-left: auto;
}

main {
  flex: 1 0 auto;
  padding: 0.5.rem;
}

footer {
  flex: 0;
  /* align-items: center; */
  text-align: center;
  /* padding: 0.5rem; */
  margin-bottom: 50px;
}

.app-image {
  height: 393px;
  width: 193px;
  margin: 10px;
  padding-left: 5px;
  padding: 5px;
}

.app-store-button {
  height: 46px;
  width: 153px;
  padding-left: 5px;
}

.map-image {
  height: 300px;
  width: 200px;
}

.banner img {
}

.card {
}

.card-body {
}

.card-body img {
  height: 128px;
  width: 128px;
  padding-left: 5px;
}

.card-title {
}

.card-text {
}

.link-btn {
}

.icon-attribution {
  /* position: absolute;
    bottom: 7px; */
  font-size: 80%;
}
/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/

/* https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
