<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=" description" content="The website of Wild Consulting Limited, a .NET software development company">
    <meta name="author" content="">

    <title>Wild Consulting Limited - @ViewData["Title"]</title>

    <link href="~/css/site.css" rel="stylesheet">

    @* TODO: Add favicon *@
    @* <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> *@
</head>

<body>
<a class="skip-main" href="#main">Skip to main content</a>

<nav>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="About">About</a>
    <a asp-controller="Home" asp-action="Apps">Our Apps</a>
    <a class="last-item" asp-controller="Home" asp-action="Contact">Contact</a>
</nav>

<main id="main">
    <!--[if lt IE 8]>
        <div class="alert alert-warning" role="alert">
            <p>You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    <![endif]-->
    @RenderBody()
</main>

<footer>
    <p>Copyright &copy; Wild Consulting Limited 2020</p>
</footer>
</body>

</html>
