
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<div class="row">
    <div class="col-md-9 mb-5">
        <p>
            We have been offering software development services since 2008. 
            We specialise in .NET development and SQL Server, as well as offering
            expertise in cloud deployment and data analysis with R.
        </p>
        <p>
            <strong>Mike Wild</strong> is the Director of Wild Consulting.
            Originally from New Zealand, he worked for several years in Taiwan before returning home,
            and came to the UK over 10 years ago. He lives in Oxford and services customers in the south and around the Midlands.
        </p>
    </div>
</div>

