@{
    ViewData["Title"] = "Apps";
}

<h1>Our Apps</h1>
<section id="apps">
    <p> We have recently started developing Xamarin Forms mobile apps.</p>

    <article>
        <h3>Bank Holidays</h3>
        <p> A simple app that lists upcoming UK Bank Holidays</p>
        <div><img class="app-image" src="~/images/bank-holiday-app.png" alt="Image of the Bank Holidays app"></div>
        <h4>Download it!</h4>
        <h5>(Coming soon)</h5>
        <p>
            <a href="https://www.apple.com/app-store/" target="_blank"><img class="app-store-button" src="~/images/appstore.png" alt="App Store"></a>
            <a href="https://play.google.com/store/apps/" target="_blank"><img class="app-store-button" src="~/images/googleplay.png" alt="Google Play"></a>
        </p>
    </article>

</section>
