@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<section id="contact">
    <article>
        <p>
            We are based in Oxford and available for work anywhere in the South and the Midlands.
        </p>
        <p>
            <strong>Email us:</strong> <a href="mailto:mike@wildconsulting.co.uk">mike@wildconsulting.co.uk</a>
        </p>
        <div>
            @* ReSharper disable once CommentTypo *@
            @*<img class="map-image" src="~/images/workplacesmap.png" alt="Map of places we've worked" />*@
        </div>
    </article>
</section>
