
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Heading Row -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Wild Consulting Limited</h1>
        <p>
            Wild Consulting is a software consulting company based in Oxford. We specialize in .NET development including ASP.NET Core websites
            and Windows WPF and Universal Applications
        </p>
        <p>
            We also have experience in data with SQL Server and data analysis with R:
        </p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">Contact us</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">.NET Core development, SQL and R</p>
    </div>
</div>

<!-- Content Row -->
<!--
    Looking at images like this
    https://www.shutterstock.com/image-vector/vector-set-vertical-banners-code-engineering-754570699
-->

<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-body-img" src="~/images/code.png" alt="" />
                <h2 class="card-title">Code</h2>
                <p class="card-text">Writing code is what we do, whether it's front end web development or back end data support.</p>
                <p class="card-text">
                    Web development with ASP.NET Core MVC

                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-body-img" src="~/images/data.png" alt="" />
                <h2 class="card-title">Data</h2>
                <p class="card-text">We have been working with SQL Server for many years. We also work with CosmosDb, PostgresSQL and SQLite.</p>
                <p class="card-text">Outside of databases, we also use R to extract, analyse and visualise data.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-body-img" src="~/images/cloud.png" alt="" />
                <h2 class="card-title">Cloud</h2>
                <p class="card-text">Cloud is ....</p>
                <p class="card-text">Tying code and data together ....</p>
                <p class="card-text">Azure functions, Azure search, cloud hosting of websites in Azure and AWS.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<div class="row">
    <div>
        <h4>Raw dump of CV</h4>
        <p>
            “Very approachable, a team player and an excellent developer which is exactly the skills you need to deliver high-quality software projects”
        </p>
        <p>
            I am a highly experienced software consultant specializing in Microsoft .NET C# and SQL Server databases with extensive experience in program design and architecture.
            Very experienced with SQL Server databases, but also familiar with PostgresSQL and CosmosDB.
        </p>
        <p>
            I have worked in a range of industries in the private and public sectors including Banking, Insurance, IT Consulting, Legal Publishing and Education, in the United Kingdom, New Zealand, Taiwan, and Saudi Arabia.
        </p>
        <p>
            Capable technical team lead and hands-on developer, with experience in banking, publishing and IT services in the public and private sectors
        </p>
        <p>
            I enjoy picking up new technologies as the project dictates which has been instrumental in ensuring that projects are delivered efficiently.
        </p>
        <p>
            Successfully managed and led teams through complete project life cycles to implementation.
        </p>
        <p>
            Worked at all levels up to managing and leading teams through complete project life cycles.
        </p>
        <p>
            Worked extensively with agile software development methodologies including rapid planning, SCRUM and Government Digital Service agile.
        </p>
        <p>
            Fluent speaker of Mandarin Chinese.
        </p>
        <p>
            Something about – Technical interests include data analysis and visualisation with R, and Machine Learning.
        </p>

        <h4>Skills &amp; Expertise</h4>
        <ul>
            <li>C# coding for .NET</li>
            <li>ASP.NET Core 2.2 and 3.0</li>
            <li>Azure development with functions</li>
            <li>Back-end development with WCF and ASP.NET Core Web API</li>
            <li>WPF and Windows 10 application development with MVVM</li>
            <li>.NET solution architecture and design patterns</li>
            <li>SQL Server development</li>
            <li>Cloud development and deployment with Azure and AWS<</li>li>
            <li>Agile Development with SCRUM and TDD               <</li>li>
            <li>Data analysis and visualization with R             <</li>li>
            <li>Journey time and distance calculation with Sql Server Spatial and Google apis</li>
            <li>POC using Azure Search to search qualifications by name</li>
            <li>Agile within Government digital service framework, GDS design standards....</li>
            <li>Interest in machine learning, data analysis and mapping</li>
            <li>Continuous Integration and builds with VSTS and Git</li>
            <li>Microsoft Office development using OpenXML and Office 2010 add-ins</li>
            <li>Microsoft BizTalk 2004/2006/2006 R2</li>
        </ul>
    </div>
</div>
