<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- https://www.myhostcp.com/cp/index.cgi/top/zone,home/ -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <security>
        <requestFiltering removeServerHeader="true" />
      </security>

      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>

    </system.webServer>
  </location>
</configuration>